<div class="picker" *ngIf="selectedLocationImage">
  <ion-spinner color="secondary" *ngIf="isLoading"></ion-spinner>
  <ion-img role="button"  (click)="onPickLocation()" class="location-img" *ngIf="selectedLocationImage && showPreview" [src]="selectedLocationImage"></ion-img>
</div>
<ion-button
  *ngIf="!selectedLocationImage && !isLoading && !showPreview"
  color="primary"
  (click)="onPickLocation()"
>
  <ion-icon name="map" slot="start"></ion-icon>
  <ion-label>Select Location</ion-label>
</ion-button>
